
*{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "igor igor" "flex grid"  ;
}

/* HEADER */
header{
    justify-items: center;
    align-items: center;
    grid-area: igor;
    width: 100%;
}
header img{
    width: 50px;
}

/* FLEX */

#flex{
    justify-items: center;
    align-items: center;
    grid-area: flex;
}

/* GRID */

#grid{
    justify-items: center;
    align-items: center;
    grid-area: grid;
}
